<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Font Awesome CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>JavaScript CURD</title>
    <link rel="stylesheet" href="/css/table-detail.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="caption"><%= tableName %></h1>
        <!-- <div class="filterEntries"> -->
        <!--   <div class="filter"> -->
        <!--     <label for="search">Search:</label> -->
        <!--     <input -->
        <!--       type="search" -->
        <!--       name="" -->
        <!--       id="search" -->
        <!--       placeholder="" -->
        <!--     /> -->
        <!--   </div> -->
        <!-- </div> -->
        <!---->
        <!-- <div class="addMemberBtn"> -->
        <!--   <button>New</button> -->
        <!-- </div> -->
      </header>
      <footer>
        <span class="showEntries">Showing <%= offset %> to <%= offset+limit %> of <%= totalCount %> entries</span>
        <div class="pagination">
          <a href="?offset=<%= Math.max(offset - limit, 0) %>&limit=<%= limit %>" class="button-link"><button>Prev</button></a>
          <a href="?offset=<%= offset + limit %>&limit=<%= limit %>" class="button-link"><button>Next</button></a>
        </div>
      </footer>

      <table>
        <thead>
          <tr class="heading">
            <% columnNames.forEach(name => { %>
              <th><%= name %></th>
            <% }) %>
            <th>Action</th>
          </tr>
        </thead>

        <tbody class="userInfo">
          <% if (!dataRows.length) { %>
            <tr>
              <td class="empty" colspan="11" align="center">
                No data available in table
              </td>
            </tr>
          <% } %>
          <% dataRows.forEach(row => { %>
            <tr>
              <% columnNames.forEach(name => { %>
                <td><%= row[name] %></td>
              <% }) %>
              <td>
                <button><i class="fa-regular fa-eye"></i></button>
                <button><i class="fa-regular fa-pen-to-square"></i></button>
                <button><i class="fa-regular fa-trash-can"></i></button>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>

    <!--Popup Form-->

    <div class="dark_bg">
      <div class="popup">
        <header>
          <h2 class="modalTitle">Fill the Form</h2>
          <button class="closeBtn">&times;</button>
        </header>

        <div class="body">
          <form action="#" id="myForm">
            <div class="imgholder">
              <label for="uploadimg" class="upload">
                <input type="file" name="" id="uploadimg" class="picture" />
                <i class="fa-solid fa-plus"></i>
              </label>
              <img
                src="./img/pic1.png"
                alt=""
                width="150"
                height="150"
                class="img"
              />
            </div>

            <div class="inputFieldContainer">
              <div class="nameField">
                <div class="form_control">
                  <label for="fName">First Name:</label>
                  <input type="text" name="" id="fName" required />
                </div>

                <div class="form_control">
                  <label for="lName">Last Name:</label>
                  <input type="text" name="" id="lName" required />
                </div>
              </div>

              <div class="ageCityField">
                <div class="form_control">
                  <label for="age">Age:</label>
                  <input type="number" name="" id="age" required />
                </div>

                <div class="form_control">
                  <label for="city">City:</label>
                  <input type="text" name="" id="city" required />
                </div>
              </div>

              <div class="postSalary">
                <div class="form_control">
                  <label for="position">Position:</label>
                  <input type="text" name="" id="position" required />
                </div>

                <div class="form_control">
                  <label for="salary">Salary:</label>
                  <input type="text" name="" id="salary" required />
                </div>
              </div>

              <div class="form_control">
                <label for="sDate">Start Date:</label>
                <input type="date" name="" id="sDate" required />
              </div>

              <div class="form_control">
                <label for="email">Email:</label>
                <input type="email" name="" id="email" required />
              </div>

              <div class="form_control">
                <label for="phone">Phone:</label>
                <input type="number" name="" id="phone" required />
              </div>
            </div>
          </form>
        </div>

        <footer class="popupFooter">
          <button form="myForm" class="submitBtn">Submit</button>
        </footer>
      </div>
    </div>
  </body>
</html>
